.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    border: 2px solid red;
    background-color: rgb(77, 160, 160);
    width: 50%;
    margin: 0 auto;
}

.container>div {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.container>div>:nth-child(2) {
    padding: 0.5rem 2rem;
}

#btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    color: rgb(4, 20, 20);
    cursor: pointer;
}

#btn:hover {
    background-color: aqua;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    color: rgb(4, 20, 20);
    cursor: pointer;
}

.btn:hover {
    background-color: green;
}


/* style for dom element added */

.card>ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 5px solid aqua;
    padding: .5rem 2rem;
}

.card>ul>li {
    list-style: none;
}

#show>h1 {
    text-align: center;
}